$main-color: #0d192b;
$card-color: #14253d;
$cardShadow: #0c1627;
$line: #2f415b;
$textColor: #ffffff;
$primaryColor: #8bacda;
$linkColor: #00fff7;
$border-radius:0.4rem;
$gap:1.3rem;
$large-font:600;
$mid-font:400;
$small-font:300;